<!-- Header -->
<% include ./partials/header %>
<!-- ./Header -->

<!-- Main content -->
<main role="main">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0em;">
    <br>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><br></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col-md-6 -->
          <div class="col-sm-4">
            <div class="card card-warning card-outline">
              <div class="card-header">
                <h5 class="m-0"><span class="right badge badge-warning">5</span> Featured Books </h5>
              </div>
              <div class="card-body">
                <% if (res.locals.data) { data.featured.forEach(function(key) { %>
                <li><%= key.book %></li>
                <% })} %>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0"><span class="right badge badge-primary">5</span> Top Rate Books </h5>
              </div>
              <div class="card-body">
                <% if (res.locals.data) { data.toprate.forEach(function(key) { %>
                <li><%= key.book %></li>
                <% })} %>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-success card-outline">
              <div class="card-header">
                <h5 class="m-0"><span class="right badge badge-success">5</span> Book Genres </h5>
              </div>
              <div class="card-body">
                <% if (res.locals.data) { data.genres.forEach(function(key) { %>
                <li><%= key.genre %></li>
                <% })} %>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
        <!-- row -->
        <div class="row d-flex justify-content-center">
          <div class="col-md-12"><br><br><br></div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="/images/avatar3.png" alt="user image">
                        <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared publicly - 7:30 PM today</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>

                    </div>
                    <!-- /.post -->

                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</main>
<!-- /.content -->
<!-- /.content-wrapper -->
<% include ./partials/footer %>

<!--% block('localScripts', '<script src="/js/local/fastclick.js"></script>') %-->
<script>
  $(function () {
    if ('<%= res.locals.message %>' != "") {
      toastr.error('<%= res.locals.message %>')
    }
  })

</script>
